<div class="container-sm border border-dark p-4 mt-3 rounded" style="max-width: 600px;">
    <form [formGroup]="systemForm" class="text-left border border-light p-5">
        <p class="h4 mb-4 text-center">Create System</p>

        <div class="form-group mb-4">
            <label for="floors">No of floors</label>
            <input type="number" id="floors" class="form-control " formControlName="noOfFloors">
            <small class="text-danger"
                *ngIf="(systemForm.get('noOfFloors')?.dirty&&systemForm.get('noOfFloors')?.invalid)||(systemForm.get('noOfFloors')?.invalid&&submitted)">
                {{systemForm.get('noOfFloors')?.value?'Floor should be one or more':'Please enter No of floors'}}</small>
        </div>
        <div class="form-group mb-4">
            <label for="slot">Slots Per Floor</label>
            <input type="number" id="slot" class="form-control " formControlName="slotsPerFloor">
            <small class="text-danger"
                *ngIf="(systemForm.get('slotsPerFloor')?.dirty&&systemForm.get('slotsPerFloor')?.invalid)||(systemForm.get('slotsPerFloor')?.invalid&&submitted)">
                {{systemForm.get('slotsPerFloor')?.value?'Slots should be one or more':'Please enter slots per floor'}}</small>
        </div>
        <div class="form-group text-center">
            <button block="true" class="btn btn-primary m-1 " type="submit" style="min-width: 200px;"
                (click)="submit()">Create</button>
            <div> <small class="text-danger" *ngIf="error">Cannot create new system because it already created to modify
                    please contact 123-456-7890</small>
                <small class="text-success" *ngIf="created">created parking system</small>
            </div>
        </div>

    </form>
</div>