<div class="container-sm border border-dark p-4 mt-3 mb-3 rounded">
    <form [formGroup]="searchForm" class="text-left border border-light p-5">
        <p class="h4 mb-4 text-center">Search Parking Details</p>
        <div class="row">
            <div class="col form-group mb-4">
                <label for="floor">Floor Number</label>
                <input type="text" id="floor" class="form-control " formControlName="floor" placeholder="Floor Number">

            </div>
            <div class="col form-group mb-4">
                <label for="slot">Slot Number</label>
                <input type="text" id="slot" class="form-control " formControlName="slot" placeholder="Slot Number">

            </div>
        </div>
        <div class="row">
            <div class="col form-group mb-4">
                <label for="parkingType">Parking Type</label>
                <select id="parkingType" class="form-control" formControlName="parkingType">
                    <option value="D">Select Park/Reserve</option>
                    <option value="P">Park</option>
                    <option value="R">Reserve</option>
                </select>
            </div>
            <div class="col form-group mb-4">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control " formControlName="customerName" placeholder="Name">

            </div>
        </div>
        
        <div class="row">
            <div class="col form-group mb-4">
                <label for="registrationNumber">Registration number</label>
                <input type="text" id="registrationNumber" class="form-control "
                    formControlName="vehicleRegistrationNumber" placeholder="Registration number">

            </div>
            <div class="col form-group mb-4">
                <label for="vehicleType">Vehicle Type</label>
                <select id="vehicleType" class="form-control" formControlName="vehicleType">
                    <option *ngFor="let option of vehichleTypes" [value]="option.value">{{option.key}}</option>
                </select>

            </div>
        </div>

        <div class="form-group text-center">
            <button block="true" class="btn btn-primary m-1 " type="submit" style="min-width: 200px;"
                (click)="submit()">Search</button>
        </div>
    </form>
    <table class="table table-striped mb-3 table-hover">
        <thead>
            <tr>
                <th scope="col">Floor Number</th>
                <th scope="col">Slot Number</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Vehicle Number</th>
                <th scope="col">Parking Type</th>
                <th scope="col">Name</th>
                <th scope="col">Fee</th>
                <th scope="col">Vehicle In</th>
                <th scope="col">Vehicle Out</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of parkingDetails" [routerLink]="['/slotDetails/'+details?.id]" class="detailsLink">
                <td>{{details?.slot?.floorId}}</td>
                <td>{{details?.slot?.slotNumber}}</td>
                <td>{{details?.vehicleType}}</td>
                <td>{{details?.vehicleRegistrationNumber}}</td>
                <td>{{details?.parkingType}}</td>
                <td>{{details?.customerName}}</td>
                <td>{{details?.fee | currency:'INR'}}</td>
                <td>{{details?.entranceTime | date:'medium'}}</td>
                <td>{{details?.exitTime | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
   
    <ngb-pagination *ngIf="collectionSize>0" [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize"
  (pageChange)="pageChange($event)" [boundaryLinks]="true"></ngb-pagination>
</div>